body {
    background-color: #321A4A;
     font-family: "Inter", sans-serif;
}
.full {
    margin-left: 160px;
    border: 1px solid white;
    border-radius: 60px;
    width: 1600px;
    height: 805px;
}
.full a {
    text-decoration: none;
    color: white;
}
.full {
    font-size: 36px;
    color: white;
    text-align: center;
}
.pink {
    width: 1250px;
    height: 630px;
    background-color: #FDA6D7;
    margin-left: 175px;
    border-radius: 60px;

}
input {
    width: 300px;
    height: 50px;
    border-radius: 30px;
    border: 0px;
    background-color: #D9D9D9;
}
input::placeholder {
    color: black;
    font-size: 24px;
    padding-left: 10px;
}
select {
    width: 300px;
    height: 50px;
    border-radius: 30px;
    border: 0px;
    background-color: #D9D9D9;
    font-size: 24px;
    padding-left: 10px;
}
.fird {
    display: flex;
    gap: 50px;
    margin-left: 125px;
    padding-top: 60px;
    padding-bottom: 30px;
}
.second {
    display: flex;
    gap: 50px;
    margin-left: 125px;
}
.textarea_last {
    width: 1000px;
    height: 250px;
    margin-top: 30px;
    border-radius: 30px;
    background-color: #D9D9D9;
    border: 0px;
    font-size: 24px;
    padding-left: 10px;
    color: black;
    font-family: "Inter", sans-serif;
}
.textarea_last::placeholder {
    color: black;
    padding-left: 10px;
}
.button {
    margin-top: 40px;
    background-color: #321A4A;
    color: #D9D9D9;
    font-size: 24px;
}