body {
    background-color: #321A4A;
     font-family: "Inter", sans-serif;
}
.full {
    width: 1200px;
    height: 770px;
    border: 1px solid white ;
    border-radius: 60px;
    color: white;
    margin-left: 360px;
}
.full h1{
    text-align: center;
    font-size: 36px;
    margin-top: 50px;
    text-decoration: none;
}
.full p {
    margin-top: 50px;
    font-size: 36px;
    padding-left: 150px;
}
table {
font-size: 24px;
margin-left: 250px;
}
table td {
    padding: 20px 55px;
    text-align: center;
}
.mnogo_px {
    padding: 20px 337px;
}
.data {

    text-align: center;
}